<!DOCTYPE html>
<html>
<head>
	<title>Students by Campus</title>
</head>
<body>
	<form action="/students" method="POST">
		<input type="text" name="campus" placeholder="Campus">
		<button type="submit">Save</button>
	</form>
</body>
</html>